a#top(href='#')
  img(src='/images/arrow.png')

footer
  #footer-content
    #sponsor The Express project is sponsored by <a href="http://strongloop.com/">StrongLoop</a>.
    #fork
      a(href='https://github.com/strongloop/express') Fork the website on GitHub
