meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel='stylesheet', href='/express-js-docs/css/style.css')
link(rel='stylesheet', href='/express-js-docs/css/dropit.css')
link(rel='stylesheet', href='/express-js-docs/css/prism.css')
link(rel='stylesheet', href='/express-js-docs/css/font-awesome.min.css')
// link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin,latin-ext')
meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
script(data-cfasync='false', src='/express-js-docs/js/jquery-2.1.3.min.js')
script(data-cfasync='false', src='/express-js-docs/js/app.js?v=06112014')
script(data-cfasync='false', src='/express-js-docs/js/retina.js')
script(data-cfasync='false', src='/express-js-docs/js/dropit.js')
script(data-cfasync='false', src='/express-js-docs/js/prism.js')
